<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <application>
        <receiver
            android:name=".SilenceReceiver"
            android:exported="false" />
    </application>
</manifest>
